.contact-page__content {
  position: relative;
  background-color: white;
  display: flex;
  min-height: 600px;
  justify-content: center;
}

.contact-page__content--alternate {
  min-height: 0;
}

.contact-page__content--focus {
  background-color: #0079bf;
  min-height: 0;
}

.contact-page__left {
  width: 50%;
  flex: 0 0 auto;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contact-page__right {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 60px;
}

.contact-page__map {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
}

.contact-page__map-info {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 300px;
  padding: 20px;
  color: white;
  background: rgba(0,0,0,0.65);
}

.contact-page__map-info a {
  color: #f57721;
}

.contact-page__map-info > h3 {
  font-weight: 300;
  font-size: 20px;
  margin: 0;
}

.contact-page__vcards {
  display: flex;
  position: relative;
  width: 85%;
  padding: 50px 20px;
  font-size: 1.2rem;
  margin-bottom: 20px;
  justify-content: space-between;
  box-sizing: border-box;
}

.contact-page__vcard {
  box-sizing: border-box;
  width: 49%;
  border-radius: 5px;
  padding: 25px 50px 50px;
  border: 1px solid white;
  color: white;
}

.contact-page__vcard a {
  color: orange;
}

.contact-page__vcard-row {
  margin: 5px;
}

.contact-page__vcard h2 {
  font-weight: 300;
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 32px;
}

.contact-page__vcard-field {
  width: 90px;
  display: inline-block;
  opacity: .7;
  font-weight: 300;
}
