.contact-page {
  max-width: 1000px;
  margin: auto;
}

.contact-page__text {
  margin: 20px 0;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  border-radius: 2px;
  padding: 15px 50px 30px;
  background-color: white;
}

.contact-page__text > h1 {
  font-size: 2rem;
  font-weight: 300;
}

.contact-page__text > p {
  font-size: 1.2rem;
  font-weight: 300;
}

.contact-page__image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 8px solid #ddd;
  border-radius: 5px;
}

.contact-page__side-by-side {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.contact-page__image-container {
  height: 360px;
}

.contact-page__image1 {
  height: 360px;
  margin-top: 5px;
  background-image: url("../images/photos/gamlastan.jpg");
}

.contact-page__image2 {
  width: 48%;
  background-image: url("../images/photos/2.jpg");
}

.contact-page__image3 {
  width: 48%;
  background-image: url("../images/photos/6.jpg");
}

.contact-page__map-title {
  font-size: 1.8rem;
}

.contact-page__vcards {
  position: relative;
  font-size: 1.2rem;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.contact-page__vcard {
  box-sizing: border-box;
  width: 49%;
  border-radius: 5px;
  padding: 15px 50px 35px;
  background-color: white;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}

.contact-page__vcard-row {
  margin: 10px;
}

.contact-page__vcard h2 {
  font-weight: 300;
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 32px;
}

.contact-page__vcard-field {
  width: 90px;
  display: inline-block;
  color: gray;
  font-weight: 300;
}
