.team-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 75px;
  margin-bottom: 75px;
}

.about, .people {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 75px;
}

.about {
  padding-left: 10px;
  max-width: 50vw;
}
